@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Помилка :(";
}

<h1 class="text-danger">Ох, помилка...</h1>
<h2 class="text-danger">Сталася помилка під час обробки вашого запиту :(</h2>

