@{
    ViewBag.Title = "Про програму";
}
<h2>@ViewBag.Title.</h2>
<h3>Веб-застосунок для допомоги керування кадрами універитету</h3>

<p>Розробник: <span style="color:red;"><a href="https://www.facebook.com/igor.konobas" target="_blank">Ігор Конобас</a></span></p>
<p>Контакти: <span style="color:red;"><a href="mailto:kois9911@gmail.com">kois9911@gmail.com</a></span></p>

