@{
    ViewBag.Title = "Вітаємо в KNUdb!";
}
@Styles.Render("~/Content/Styles/TableStyleSheet.css")

<div class="jumbotron">
    <table>
        <tr>
            <td width="30%">
                <a href="http://www.univ.kiev.ua/ua/" target="_blank"><img src="~/Content/Images/icon.jpg" width="300" style="margin-right:20px; cursor:pointer;" title="Клікніть, щоб перейти на сайт" alt="КНУ лого" /></a>
            </td>
            <td>
                <h1>КНУ ім. Тараса Шевченка</h1>
                <p class="lead">Київський національний університет імені Тараса Шевченка є одним з найкращих закладів вищої освіти України.</p>
                <p><a href="http://www.univ.kiev.ua/ua/" target="_blank" class="btn btn-primary btn-lg">Перейти на офіційний веб-сайт &raquo;</a></p>
            </td>
        </tr>

    </table>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Співробітники</h2>
        <p>
            Викладачі КНУ ім. Тараса Шевченка є професіоналами найвищого рівня. Саме вони вказують студентам шлях до  світлого майбутнього.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Employee")">Дізнатися більше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Факультети</h2>
        <p>Факультети нашого університету є справжньою домівкою для кожного свого студента. Саме тут вчорашні школярі стають професіоналами.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Department")">Дізнатися більше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Кафедри</h2>
        <p>Кафедра - це тепле родинне коло для кожного нашого студента. Саме тут студенти здобувають знання та роблять перші кроки у науці. </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Cathedra")">Дізнатися більше &raquo;</a></p>
    </div>
</div>